.picUrl,img{
    width: 50%;
    border-radius: 50%;
    animation:rotate 8s linear infinite
}
.disable{
    animation-play-state: paused;
}
@keyframes rotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(350deg);
    }
}
.line{
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 3px;
    background: #ccc;
  
}
.line>b{
    position: absolute;
    left:0;
    top: 0;
 
    background: red;
    width: 50%;
    height: 100%;
    z-index: 22;
}